PORT=4000
MONGODB_URI=mongodb://localhost:27017/beyondcode
JWT_SECRET=your-secret-key
RESEND_API_KEY=your-resend-api-key
REDIS_URL=redis://localhost:6379
CLERK_SECRET_KEY=sk_test_RZF49Qpi8iWLS09luin6RnwksFPZk3xRQ1DmBTmzM3
